<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/jquery-bs/assets/ico/favicon.png">

<link href="/stylesheets/style.css?112" media="screen" rel="stylesheet" type="text/css">
<link href="/stylesheets/home.css" media="screen" rel="stylesheet" type="text/css">

<link href="/jquery-bs/css/custom-theme/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/jquery/jquery-mobile-960.min.css" />

<script src="/jquery-bs/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/jquery-bs/assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>

<script src="/jquery-ea/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/jquery-ea/locale/easyui-lang-zh_CN.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/jquery-ea/themes/bootstrap/easyui.css" type="text/css">
<link rel="stylesheet" href="/jquery-ea/themes/icon.css" type="text/css" >


<link rel="stylesheet" href="/photoswipe/photoswipe.css" type="text/css">
<script src="/photoswipe/lib/klass.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/photoswipe/code.photoswipe-3.0.5.js" type="text/javascript" charset="utf-8"></script>

<!--link href="/jquery-bs/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"-->
<script src="/jquery-bs/assets/js/bootstrap.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="/jquery-up/css/jquery.fileupload-ui.css" type="text/css">
<script src="/jquery-up/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/jquery-up/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="/jquery-up/js/jquery.fileupload.js" type="text/javascript"></script>

<!-- page related style-->
<style type=text/css> 

  span.ui-button {
    font-size : 12px; 
  }
  
  p {
    margin-top:5px;
    margin-right:15px;
  }

  ul { list-style-type: none; }
  
  .gallery { list-style: none; padding: 0; margin: 0; }
  .gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
  .gallery li { float: left; width: 33.33333333%; }
  .gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
  .gallery li img { display: block; width: 100%; height: auto; }

  .ui-buttonset .ui-button {
		padding-top:1px;
		padding-bottom:1px;
		margin-bottom:3px;
	}
	
	fieldset {
    border:1px solid #CCC;
    padding-top:5px;
  }

</style>

<div id="yl-webholder">
  <!-- page header -->  
  <header>
    <div id="yl-main-header">
      <div class="yl-header-content">
				<a href="/"><img src="/demotime/images/logo.png" title="用地监管"  style="margin-top:15px" ></a>
        <nav class="user-status">
          <ul>
            <li>
            <a href="#">欢迎您,<%= current_user.username %>！</a>
            </li>
            <li>
            <a class="btn btn-danger btn-small" style="height:15px;margin-top:15px" href="/sign_out">登出</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <!-- page main--> 
  <div id="yl-main">

    <!-- First Row--> 
    <div class='row'>
      <div class='span12'>
        <div class='page-header' style="border:none; margin:0px; padding-top:30px; padding-bottom:20px;">
          <h1><img src="/front/images/tudi48.png" style="vertical-align:middle;" /> <%= @ydb.jsxmmc %></h1>
        </div>
      </div>
    </div>
    
    <!--div id="tabs" class="tabbable" style="border:none"-->
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab" >
        <li id="li1" class='active'><a href="#" data-toggle="tab">用地情况表</a></li>
        <li id="li2"><a href="#" data-toggle="tab">地理信息</a></li>
      </ul>
      <div style="float:right; font-size:18px;  width:100px; margin-right:-20px; margin-top:-40px">
        <input id="print_report" class="btn btn-primary btn-small"  type="submit" data-theme="e" value="打印预览">
      </div>
      <div>
        <div id="tab1" class="tab-panel active" >
          <div class='row'  style="margin-top:5px">
            <div class="span12">
              <div class="alert alert-danger" style="font-size:16px"><strong>基本情况</strong></div>
              <div style="float:right; font-size:18px;  width:100px; margin-right:-20px; margin-top:-50px">
                <input id="save_ydb" class="btn btn-success btn-small"  type="submit" data-theme="e" value="保存修改">
              </div>
            </div>
          </div>
          <fieldset class="container_12">
            <div class="grid_2">
              <p align="right">城乡:</p>
            </div>  
            <div class="grid_4">
							<select data-native-menu=false data-theme="c" data-mini="false" name="cx" id='cx' style="width:200px">

								<option value="虞山镇">  虞山镇  </option>
								<option value="古里">  古里   </option>
								<option value="支塘">  支塘   </option>
								<option value="沙家浜">  沙家浜  </option>
								<option value="梅李">  梅李   </option>
								<option value="董浜">  董浜   </option>
								<option value="碧溪">  碧溪   </option>
								<option value="尚湖">  尚湖   </option>
								<option value="海虞">  海虞   </option>
								<option value="辛庄">  辛庄   </option>
								<option value="林场">  林场   </option>
								<option value="沿江">  沿江   </option>
								<option value="东南">  东南   </option>
								<option value="服装城">  服装城  </option>
								<option value="城区">  城区   </option>

							</select>
            </div>     
            <div class="grid_2">
              <p align="right" >供地方式: </p>
            </div>
            <div class="grid_4">
							<select data-native-menu=false data-theme="c" data-mini="false" name="gdfs" id="gdfs">
							  <option value="挂牌出让">	  挂牌出让	</option>
							  <option value="招标出让">	  招标出让	 </option>
							  <option value="拍卖出让">	  拍卖出让	 </option>
							  <option value="协议出让">	  协议出让	 </option>
							  <option value="补办出让">	  补办出让	 </option>
							  <option value="国有租赁">	  国有租赁	</option>
							  <option value="挂牌流转转让"> 挂牌流转转让 </option>
							  <option value="协议流转转让"> 协议流转转让 </option>
							  <option value="协议流转租赁"> 协议流转租赁 </option>
							  <option value="划拨">	 划拨		</option>
							  <option value="使用">	 使用		 </option>
							  <option value="宅基地">	 宅基地	 </option>
							  <option value="其他">	 其他		 </option>
							</select>
            </div>                 
          </fieldset>
          <fieldset class="container_12">
            <div class="grid_2">
              <p align="right">出让(流转)<br />方案批准日期: </p>
            </div>  
            <div class="grid_4">
							<input name="tbrq" type="text" class="easyui-datebox" style="height:28px"></input> 
            </div>     
            <div class="grid_2">
              <p align="right">公告日期: </p>
            </div>
            <div class="grid_4">
							<input name="ggrq" type="text" class="easyui-datebox" style="height:28px"></input> 
            </div>                 
          </fieldset>
          <fieldset class="container_12">
            <div class="grid_2">
              <p align="right">成交日期:</p>
            </div>  
            <div class="grid_4">
              <input name="cjrq" type="text" class="easyui-datebox" style="height:28px"></input> 
            </div>     
            <div class="grid_2">
              <p align="right">签订合同日期:</p>
            </div>
            <div class="grid_4">
              <input name="qdhtrq" type="text" class="easyui-datebox" style="height:28px"></input> 
            </div>                 
          </fieldset>
          <fieldset class="container_12">
            <div class="grid_2">
              <p align="right">供地日期:</p>
            </div>  
            <div class="grid_4">
              <input name="gdrq" type="text" class="easyui-datebox" style="height:28px"></input> 
            </div>     
            <div class="grid_2">
              <p align="right">成交确认书编号:</p>
            </div>
            <div class="grid_4">
              <input name="cjqrsbh" type="text" />
            </div>                 
          </fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 合同(划拨决<br />定书)编号: </p>
						</div>	
						<div class="grid_4">
								<input name="htbh" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 批复文号: </p>
						</div>
						<div class="grid_4">
							<input name="pfwh" id="pfwh" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 出让(流转)方: </p>
						</div>	
						<div class="grid_4">
								<input name="crf" id="crf" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 受让方: </p>
						</div>
						<div class="grid_4">
								<input name="srf" id="srf" type="text"	/>
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 联系人: </p>
						</div>	
						<div class="grid_4">
								<input name="lxr" id="lxr" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 电话: </p>
						</div>
						<div class="grid_4">
								<input name="dh" id="dh" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 建设项目名称: </p>
						</div>	
						<div class="grid_4">
								<input name="jsxmmc" id="jsxmmc" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 地块位置: </p>
						</div>
						<div class="grid_4">
								<input name="dkwz" id="dkwz" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 地块编号: </p>
						</div>	
						<div class="grid_4">
								<input name="dkbh" id="dkbh" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 宗地面积: </p>
						</div>
						<div class="grid_4">
								<input name="zdmj" id="zdmj" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 地块东至: </p>
						</div>	
						<div class="grid_4">
								<input name="dkdz" id="dkdz" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 地块西至: </p>
						</div>
						<div class="grid_4">
								<input name="dkxz" id="dkxz" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 地块南至: </p>
						</div>	
						<div class="grid_4">
								<input name="dknz" id="dknz" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 地块北至: </p>
						</div>
						<div class="grid_4">
								<input name="dkbz" id="dkbz" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 评估价: </p>
						</div>	
						<div class="grid_4">
								<input name="pgj" id="pgj" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 底价(单价): </p>
						</div>
						<div class="grid_4">
								<input name="dj_dj" id="dj_dj" type="text"	/>
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 底价(亩/万元): </p>
						</div>	
						<div class="grid_4">
								<input name="dj_mwj" id="dj_mwj" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 底价(起始总价): </p>
						</div>
						<div class="grid_4">
								<input name="dj_qszj" id="dj_qszj" type="text"	/>
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 底价(楼面价): </p>
						</div>	
						<div class="grid_4">
								<input name="dj_lmj" id="dj_lmj" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 成交价(单价): </p>
						</div>
						<div class="grid_4">
								<input name="cjj_dj" id="cjj_dj" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 成交价(亩/万元): </p>
						</div>	
						<div class="grid_4">
								<input name="cjj_mwj" id="cjj_mwj" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 成交价(楼面价): </p>
						</div>
						<div class="grid_4">
								<input name="cjj_lmj" id="cjj_lmj" type="text"	/>
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 成交总价: </p>
						</div>	
						<div class="grid_4">
								<input name="cjzj" id="cjzj" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 溢价率: </p>
						</div>
						<div class="grid_4">
								<input name="yjl" id="yjl" type="text"	/>
						</div>					 
					</fieldset>
					
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 出让(流转)年限: </p>
						</div>	
						<div class="grid_4">
								<input name="cr" id="cr" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 用途: </p>
						</div>
						<div class="grid_4">
							<select data-native-menu=false data-theme="c" data-mini="false" name="yt" id='yt'>
							  <option value="住宅用地"> 住宅用地	   </option>
							  <option value="商服用地"> 商服用地		</option>
							  <option value="工矿仓储用地"> 工矿仓储用地	  </option>
							  <option value="交通运输用地"> 交通运输用地	  </option>
							  <option value="水利设施用地"> 水利设施用地	  </option>
							  <option value="电力工程"> 电力工程	   </option>
							  <option value="公共管理与公共服务用地"> 公共管理与公共服务用地 </option>
							  <option value="特殊用地"> 特殊用地		</option>
							</select>
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 产业门类: </p>
						</div>	
						<div class="grid_4">
							<select data-native-menu=false data-theme="c" data-mini="false" name="cyml" id='cyml'>
							</select>
						</div>	   
						<div class="grid_2">
							<p align="right"> 权属来源: </p>
						</div>
					  <div class="grid_4" id="qsly">
              <input id= "qsly_radio1" name="qsly" value="增量" type="radio" checked="true">
              <label for="qsly_radio1">增量</label>
              <input id= "qsly_radio2" name="qsly" value="存量" type="radio" >
              <label for="qsly_radio2">存量</label>
            </div>
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 投资体系: </p>	
						</div>	
					  <div class="grid_4" id="tztx">
						  <input id ="tztx_radio1" name="tztx" value="内资" type="radio" checked="true">
						  <label for="tztx_radio1">内资</label>
						  <input id ="tztx_radio2" name="tztx" value="外资" type="radio">
						  <label for="tztx_radio2">外资</label>
            </div>						
						<div class="grid_2">
							<p align="right"> 保证金: </p>
						</div>
						<div class="grid_4">
							<input name="bzj" id="bzj" type="text"	/>
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 约定交款时间: </p>	
						</div>	
						<div class="grid_4">
							<input name="ydjkrq" type="text" class="easyui-datebox" style="height:28px"></input> 
						</div>	   
						<div class="grid_2">
							<p align="right"> 实际交款时间: </p>
						</div>
						<div class="grid_4">
							<input name="sjjkrq" type="text" class="easyui-datebox" style="height:28px"></input> 
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 滞纳金情况: </p>	
						</div>	
						<div class="grid_4">
							<input name="znjqk" id="znjqk" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 欠款金额: </p>
						</div>
						<div class="grid_4">
							<input name="qkje" id="qkje" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 未到期款: </p>	
						</div>	
						<div class="grid_4">
							<input name="wdqk" id="wdqk" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 催缴情况: </p>
						</div>
						<div class="grid_4">
							<input name="cjqk" id="cjqk" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 约定交地时间: </p>	
						</div>	
						<div class="grid_4">
							<input name="ydjdsj" type="text" class="easyui-datebox" style="height:28px"></input> 							
						</div>	   
						<div class="grid_2">
							<p align="right"> 实际交地时间: </p>
						</div>
						<div class="grid_4">
							<input name="sjjdsj" type="text" class="easyui-datebox" style="height:28px"></input> 	
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 约定开工时间: </p>	
						</div>	
						<div class="grid_4">
							<input name="ydkgsj" type="text" class="easyui-datebox" style="height:28px"></input> 	
						</div>	   
						<div class="grid_2">
							<p align="right"> 实际开工时间: </p>
						</div>
						<div class="grid_4">
							<input name="sjkgsj" type="text" class="easyui-datebox" style="height:28px"></input> 	
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 约定竣工时间: </p>	
						</div>	
						<div class="grid_4">
							<input name="ydjgsj" type="text" class="easyui-datebox" style="height:28px"></input> 	
						</div>	   
						<div class="grid_2">
							<p align="right"> 实际竣工时间: </p>
						</div>
						<div class="grid_4">
							<input name="sjjgsj" type="text" class="easyui-datebox" style="height:28px"></input> 	
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 投资额: </p>
						</div>	
						<div class="grid_4">
							<input name="tze" id="tze" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 注册资本: </p>
						</div>
						<div class="grid_4">
							<input name="zczb" id="zczb" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 容积率: </p>
						</div>	
						<div class="grid_4">
							<input name="rjl" id="rjl" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 建设密度: </p>
						</div>
						<div class="grid_4">
							<input name="jsmd" id="jsmd" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 绿化率: </p>
						</div>	
						<div class="grid_4">
							<input name="lhl" id="lhl" type="text"	/>
						</div>	   
						<div class="grid_2">
							<p align="right"> 其他要求: </p>
						</div>
						<div class="grid_4">
							<input name="qtyq" id="qtyq" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 可建建筑面积: </p>
						</div>	
						<div class="grid_4">
							<input name="kjjzmj" id="kjjzmj" type="text"  />
						</div>	   
						<div class="grid_2">
							<p align="right"> 中小套型比例: </p>
						</div>
						<div class="grid_4">
							<input name="zxtxbl" id="zxtxbl" type="text"  />
						</div>					 
					</fieldset>
					<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 中小套型面积: </p>
						</div>	
						<div class="grid_4">
							<input name="zxtxmj" id="zxtxmj" type="text"  />
						</div>	   
				 
					</fieldset>
						<fieldset class="container_12">
						<div class="grid_2">
							<p align="right"> 备注: </p>
						</div>
						<div class="grid_10">
								<input name="bz" id="bz" type="text"  />
						</div>
					</fieldset>
            
        </div> 
        <div id="tab2" class="tab-panel">
          <div class='row' style="margin-top:5px">
            <div class="span12">
                <div class="alert alert-info"><strong>地理信息</strong></div>
	              <div style="float:right; font-size:18px;  width:100px; margin-right:-20px; margin-top:-50px">
	                <span class="btn btn-success fileinput-button">
	                    <span>导入坐标</span>
	                    <input id="add_zb" type="file" name="files[]" multiple >
	                </span>
	              </div>
            </div>
          </div>
					<div class='row'>
						<div style="margin-left:20px">
							<div id='qt_grid' style="width:940px;height:450px;scroll:auto"></div>
						</div>	
					</div>	
          <div class='row' hidden='true'>
            <div class="span4">
							<div id="tt_grid" style="width:300px;height:450px"> 
		          </div>
            </div>
            <div class="span8">
              <div class="side-box">
                <div id="map_canvas" style="height:430px; background-color:#FFF;">地图加载中，请稍候...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div hidden="true">
  <input name="ydb_id" type="text"  />
</div>

<!-- ui-dialog -->

<footer>
  <div class="site-footer-content">
    <div class="row">
      <div class="span4">
        <cite style="font-size:13px">
          Copyright © 2013, Brightechs, Inc.
          - <a href="mailto:szpapas@qq.com">技术支持</a>          
        </cite>
      </div>
      <div class="span4">&nbsp;</div>
      <div class="span4">
        <ul class="footer-nav">
          <li>
            <a href="/info/terms_of_use">使用条款</a>
          </li>
          <li>
            <a href="/info/q_and_a">常见问题</a>
          </li>
          <li>
            <a href="/info/contact">联系我们</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<!-- after page loaded function-->
<link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
<script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false&amp;language=zh-CN"></script>
<script src="/OpenLayers/OpenLayers.js"></script>

<script>

  var map;
  var poly;
  
  function changeTitle(title) { document.title = title; }
  
  function moveTo() {
    var gid = $.trim($("input[name='dkh']").val());
    var pars = {gid:gid};
    $.ajax({
      type: "POST",
      url: "/sat/locate_xmdk",
      data: pars,
      cache: false,
      dataType: "text",
      success: function(data){
        //alert("任务生成成功。");
        var tbb = eval("("+data+")")[0];
        var center = new google.maps.LatLng(tbb.lat,tbb.lng);
        map.panTo(center);

        var paths = eval("("+tbb.geom_string+")").coordinates[0][0];
        var polyPath = poly.getPath();
        
        polyPath.clear();
        
        for (var i=0; i < paths.length; i++) {
          var latlng = new google.maps.LatLng(paths[i][1],paths[i][0]);
          polyPath.push(latlng);
        }
      }
    });
  };
  
	function showTab2() {
		
	}

 //tab分页
  $('#myTab li:eq(0) a').click(function (e)  {
    $('#li1').addClass('active');
    $('#li2').removeClass('active');
    
    $('#tab2').hide();
    $('#tab1').show();
  });

  $('#myTab li:eq(1) a').click(function (e)  {
    $('#li2').addClass('active');
    $('#li1').removeClass('active');
    
    $('#tab1').hide();
    $('#tab2').show();

		showTab2();
  });

  
  function setup() {
    // radio button setup
    $("input[name='qsly']").button ();
    $("#qsly").buttonset ();
    $("input[name='tztx']").button ();
    $("#tztx").buttonset ();

    
    //setup width of textArea
    //$('#jjqksm').css('background-color', 'white').css('font-size', '18px').css('height', '130px').css('width', '730px');
    $('#bz').css('background-color', 'white').css('font-size', '18px').css('height', '130px').css('width', '730px');

    // changeTitle
    changeTitle("用地详细");
    
    
    $('#li1').addClass('active');
    $('#li2').removeClass('active');
    
    $('#tab2').hide();
    $('#tab1').show();
    
  }
  
  $('#ydsx').change(function() {
    var ydsx =  $.trim($("input[name='ydsx']:checked").val());
    if(ydsx == '已取得用地手续'){
      $('#yqdydsx').show();
      $('#wqdydsx').hide();
    } else {
      $('#yqdydsx').hide();
      $('#wqdydsx').show();
    }
  });
  
  $('#save_ydb').on('click', function(){
    //alert ("save clicked!");
 		//console.log('save button clicked!');
		var cx		 = $.trim($("select[name='cx']").val());
		var gdfs	 = $.trim($("select[name='gdfs']").val());
		var crfapzrq = $.trim($("input[name='crfapzrq']").val());
		var ggrq	 = $.trim($("input[name='ggrq']").val());
		var cjrq	 = $.trim($("input[name='cjrq']").val());
		var qdhtrq	 = $.trim($("input[name='qdhtrq']").val());
		var gdrq	 = $.trim($("input[name='gdrq']").val());
		var cjqrsbh	 = $.trim($("input[name='cjqrsbh']").val());
		var htbh	 = $.trim($("input[name='htbh']").val());
		var pfwh	 = $.trim($("input[name='pfwh']").val());
		var crf		 = $.trim($("input[name='crf']").val());
		var srf		 = $.trim($("input[name='srf']").val());
		var lxr		 = $.trim($("input[name='lxr']").val());
		var dh		 = $.trim($("input[name='dh']").val());
		var jsxmmc	 = $.trim($("input[name='jsxmmc']").val());
		var dkwz	 = $.trim($("input[name='dkwz']").val());
		var dkbh	 = $.trim($("input[name='dkbh']").val());
		var zdmj	 = $.trim($("input[name='zdmj']").val());
		var dkdz	 = $.trim($("input[name='dkdz']").val());
		var dkxz	 = $.trim($("input[name='dkxz']").val());
		var dknz	 = $.trim($("input[name='dknz']").val());
		var dkbz	 = $.trim($("input[name='dkbz']").val());
		var pgj		 = $.trim($("input[name='pgj']").val());
		var dj_dj	 = $.trim($("input[name='dj_dj']").val());
		var dj_mwj	 = $.trim($("input[name='dj_mwj']").val());
		var dj_lmj	 = $.trim($("input[name='dj_lmj']").val());
		var cjj_mwj	 = $.trim($("input[name='cjj_mwj']").val());
		var cjj_lmj	 = $.trim($("input[name='cjj_lmj']").val());
		var cjzj	 = $.trim($("input[name='cjzj']").val());
		var yjl		 = $.trim($("input[name='yjl']").val());
		var cr		 = $.trim($("input[name='cr']").val());
		var yt		 = $.trim($("select[name='yt']").val());
		var cyml	 = $.trim($("select[name='cyml']").val());
		var qsly	 = $.trim($("input[name='qsly']:checked").val());
		var tztx	 = $.trim($("input[name='tztx']:checked").val());
		var bzj		 = $.trim($("input[name='bzj']").val());
		var ydjkrq	 = $.trim($("input[name='ydjkrq']").val());
		var sjjkrq	 = $.trim($("input[name='sjjkrq']").val());
		var znjqk	 = $.trim($("input[name='znjqk']").val());
		var qkje	 = $.trim($("input[name='qkje']").val());
		var wdqk	 = $.trim($("input[name='wdqk']").val());
		var cjqk	 = $.trim($("input[name='cjqk']").val());
		var ydjdsj	 = $.trim($("input[name='ydjdsj']").val());
		var sjjdsj	 = $.trim($("input[name='sjjdsj']").val());
		var ydkgsj	 = $.trim($("input[name='ydkgsj']").val());
		var sjkgsj	 = $.trim($("input[name='sjkgsj']").val());
		var ydjgsj	 = $.trim($("input[name='ydjgsj']").val());
		var sjjgsj	 = $.trim($("input[name='sjjgsj']").val());
		var tze		 = $.trim($("input[name='tze']").val());
		var zczb	 = $.trim($("input[name='zczb']").val());
		var rjl		 = $.trim($("input[name='rjl']").val());
		var jsmd	 = $.trim($("input[name='jsmd']").val());
		var lhl		 = $.trim($("input[name='lhl']").val());
		var qtyq	 = $.trim($("input[name='qtyq']").val());
		var kjjzmj	 = $.trim($("input[name='kjjzmj']").val());
		var zxtxbl	 = $.trim($("input[name='zxtxbl']").val());
		var zxtxmj	 = $.trim($("input[name='zxtxmj']").val());
		var bz		 = $.trim($("input[name='bz']").val());	 
		var ydb_id	 = $.trim($("input[name='ydb_id']").val());
		var pars = {cx:cx, gdfs:gdfs, crfapzrq:crfapzrq, ggrq:ggrq, cjrq:cjrq, qdhtrq:qdhtrq, gdrq:gdrq, cjqrsbh:cjqrsbh, htbh:htbh, pfwh:pfwh, crf:crf, srf:srf, lxr:lxr, dh:dh, jsxmmc:jsxmmc, dkwz:dkwz, dkbh:dkbh, zdmj:zdmj, dkdz:dkdz, dkxz:dkxz, dknz:dknz, dkbz:dkbz, pgj:pgj, dj_dj:dj_dj, dj_mwj:dj_mwj, dj_lmj:dj_lmj, cjj_mwj:cjj_mwj, cjj_lmj:cjj_lmj, cjzj:cjzj, yjl:yjl, cr:cr, yt:yt, cyml:cyml, qsly:qsly, tztx:tztx, bzj:bzj, ydjkrq:ydjkrq, sjjkrq:sjjkrq, znjqk:znjqk, qkje:qkje, wdqk:wdqk, cjqk:cjqk, ydjdsj:ydjdsj, sjjdsj:sjjdsj, ydkgsj:ydkgsj, sjkgsj:sjkgsj, ydjgsj:ydjgsj, sjjgsj:sjjgsj, tze:tze, zczb:zczb, rjl:rjl, jsmd:jsmd, lhl:lhl, qtyq:qtyq, kjjzmj:kjjzmj, zxtxbl:zxtxbl, zxtxmj:zxtxmj, bz:bz, ydb_id:ydb_id};
   
    $.ajax({
      type: "POST",
      url: "/ydb/save_ydb",
      data: pars,
      cache: false,
      dataType: "text",
      success: function(data){
        $('#ydb_id').val(data);
        alert('保存成功!');
      }
    });
    
  });
  
  $('#print_report').on('click', function(){
    //alert('pdf预览！');
		ydb_id = $.trim($("input[name='ydb_id']").val());
		pars = {id:ydb_id}
    $.ajax({
      type: "POST",
      url: "/ydb/jsyd_pdf",
      data: pars,
      cache: false,
      dataType: "text",
      success: function(data){
				var new_url = data;
        window.open(new_url,'','height=500,width=800,top=150, left=100,scrollbars=yes,status=yes');
      }
    });

  });
  

	$('#yt').on('change', function() {
	  //alert( this.value );
		if (this.name=="yt") {
			if (this.value == "住宅用地") {
				$('#cyml').empty().append('<option value="别墅高档公寓">别墅高档公寓</option><option value="普通商品房">普通商品房</option><option value="经济适用房">经济适用房</option><option value="公共租赁房">公共租赁房</option><option value="限价商品房">限价商品房</option><option value="其他">其他</option>').
				selectmenu('refresh');
			} else if (this.value == "工矿仓储用地"){ //工业、仓储、标准厂房
				$('#cyml').empty().append('<option value="工业">工业</option><option value="仓储">仓储</option><option value="标准厂房">标准厂房</option>').
				selectmenu('refresh'); //机关团体用地、新闻出版用地、科教用地、医卫慈善用地、文体娱乐用地、公共设施用地、公园与绿地、风景名胜设施用地
			} else if (this.value == "公共管理与公共服务用地") {
				$('#cyml').empty().append('<option value="机关团体用地">机关团体用地</option><option value="新闻出版用地">新闻出版用地</option><option value="科教用地">科教用地</option>').append('<option value="医卫慈善用地">医卫慈善用地</option><option value="文体娱乐用地">文体娱乐用地</option><option value="公共设施用地">公共设施用地</option>').append('<option value="公园与绿地">公园与绿地</option><option value="风景名胜设施用地">风景名胜设施用地</option>').
				selectmenu('refresh');
			} else {
				var option_string = '<option value="'+this.value+'">'+this.value+'</option>';
				$('#cyml').empty().append(option_string).selectmenu('refresh');
			}
		}
	})
    
  function loadYdb() {
    <% if @ydb %>
      console.log('got here');
		  //$("select[name='cx']").val('<%= @ydb.cx %>');
			$("select[name='cx']").val('<%= @ydb.cx %>');
		  $("select[name='gdfs']").val('<%= @ydb.gdfs %>');
			
		  $("input[name='crfapzrq']").val('<%= @ydb.crfapzrq %>'.replace(' 00:00:00',''));
			$("input[name='ggrq']").val('<%= @ydb.ggrq %>'.replace(' 00:00:00',''));
			$("input[name='cjrq']").val('<%= @ydb.cjrq %>'.replace(' 00:00:00',''));
			$("input[name='qdhtrq']").val('<%= @ydb.qdhtrq %>'.replace(' 00:00:00',''));
			$("input[name='gdrq']").val('<%= @ydb.gdrq %>'.replace(' 00:00:00',''));
			$("input[name='cjqrsbh']").val('<%= @ydb.cjqrsbh %>');
			$("input[name='htbh']").val('<%= @ydb.htbh %>');
			$("input[name='pfwh']").val('<%= @ydb.pfwh %>');
			$("input[name='crf']").val('<%= @ydb.crf %>');
			$("input[name='srf']").val('<%= @ydb.srf %>');
			$("input[name='lxr']").val('<%= @ydb.lxr %>');
			$("input[name='dh']").val('<%= @ydb.dh %>');
			$("input[name='jsxmmc']").val('<%= @ydb.jsxmmc %>');
			$("input[name='dkwz']").val('<%= @ydb.dkwz %>');
			$("input[name='dkbh']").val('<%= @ydb.dkbh %>');
			$("input[name='zdmj']").val('<%= @ydb.zdmj %>');
			$("input[name='dkdz']").val('<%= @ydb.dkdz %>');
			$("input[name='dkxz']").val('<%= @ydb.dkxz %>');
			$("input[name='dknz']").val('<%= @ydb.dknz %>');
			$("input[name='dkbz']").val('<%= @ydb.dkbz %>');
			$("input[name='pgj']").val('<%= @ydb.pgj %>');
			$("input[name='dj_dj']").val('<%= @ydb.dj_dj %>');
			$("input[name='dj_mwj']").val('<%= @ydb.dj_mwj %>');
			$("input[name='dj_lmj']").val('<%= @ydb.dj_lmj %>');
			$("input[name='cjj_mwj']").val('<%= @ydb.cjj_mwj %>');
			$("input[name='cjj_lmj']").val('<%= @ydb.cjj_lmj %>');
			$("input[name='cjzj']").val('<%= @ydb.cjzj %>');
			$("input[name='yjl']").val('<%= @ydb.yjl %>');
			$("input[name='cr']").val('<%= @ydb.cr %>');
			$("select[name='yt']").val('<%= @ydb.yt %>');
			$("select[name='cyml']").val('<%= @ydb.cyml %>');
			$("input[name='qsly'][value='<%= @ydb.qsly %>']").attr('checked', true);
			$("input[name='tztx'][value='<%= @ydb.tztx %>']").attr('checked', true);
			$("input[name='bzj']").val('<%= @ydb.bzj %>');
			$("input[name='ydjkrq']").val('<%= @ydb.ydjkrq %>'.replace(' 00:00:00',''));
			$("input[name='sjjkrq']").val('<%= @ydb.sjjkrq %>'.replace(' 00:00:00',''));
			$("input[name='znjqk']").val('<%= @ydb.znjqk %>');
			$("input[name='qkje']").val('<%= @ydb.qkje %>');
			$("input[name='wdqk']").val('<%= @ydb.wdqk %>');
			$("input[name='cjqk']").val('<%= @ydb.cjqk %>');
			$("input[name='ydjdsj']").val('<%= @ydb.ydjdsj %>'.replace(' 00:00:00',''));
			$("input[name='sjjdsj']").val('<%= @ydb.sjjdsj %>'.replace(' 00:00:00',''));
			$("input[name='ydkgsj']").val('<%= @ydb.ydkgsj %>'.replace(' 00:00:00',''));
			$("input[name='sjkgsj']").val('<%= @ydb.sjkgsj %>'.replace(' 00:00:00',''));
			$("input[name='ydjgsj']").val('<%= @ydb.ydjgsj %>'.replace(' 00:00:00',''));
			$("input[name='sjjgsj']").val('<%= @ydb.sjjgsj %>'.replace(' 00:00:00',''));
			$("input[name='tze']").val('<%= @ydb.tze %>');
			$("input[name='zczb']").val('<%= @ydb.zczb %>');
			$("input[name='rjl']").val('<%= @ydb.rjl %>');
			$("input[name='jsmd']").val('<%= @ydb.jsmd %>');
			$("input[name='lhl']").val('<%= @ydb.lhl %>');
			$("input[name='qtyq']").val('<%= @ydb.qtyq %>');
			$("input[name='kjjzmj']").val('<%= @ydb.kjjzmj %>');
			$("input[name='zxtxbl']").val('<%= @ydb.zxtxbl %>');
			$("input[name='zxtxmj']").val('<%= @ydb.zxtxmj %>');
			$("input[name='bz']").val('<%= @ydb.bz %>');  
			$("input[name='ydb_id']").val('<%= @ydb.id %>');
    <% else %>
    <% end %>
    //$("input[name='dkh']").attr('readonly', true);
    //$("input[name='xmmc']").attr('readonly', true);
  }
  
  loadYdb();

  setup();
  
</script>
</body>