<!DOCTYPE html> 
<html> 
<head> 
	<title>项目地块</title> 
	<meta name="viewport" content="width=320, initial-scale=1"> 
	<link rel="stylesheet" href="/jquery/jquery.mobile-1.2.0.min.css" />
	<script src="/jquery/jquery-1.8.2.min.js"></script>
	<script src="/jquery/jquery.mobile-1.2.0.min.js"></script>
</head> 
<body> 
<div data-role="page">
	<div data-role="content">	
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>地块编号：</strong> <%= @user['gid'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>地块名称：</strong> <%= @user['xh'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>批准文号：</strong> <%= @user['pzwh'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>用地单位：</strong> <%= @user['yddw'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>土地坐落：</strong> <%= @user['tdzl'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>地块面积：</strong> <%= @user['dkmj'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>建立日期：</strong> <%= @user['jlrq'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>是否建设：</strong> <%= @user['sfjs'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>行政区名称：</strong> <%= @user['xzqmc'] %>  </h3>
		</div>
		<div data-role="collapsible" data-inset="false">
		   <h3><strong>&#12288;&#12288;年度：</strong> <%= @user['nd'] %>  </h3>
		</div>
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>