<!DOCTYPE html> 
<html> 
<head> 
  <title>用地表</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/jquery/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="/jquery/jquery-mobile-960.min.css" >

  <script src="/jquery/jquery-1.8.2.min.js"></script>
  <script src="/jquery/jquery.mobile-1.2.0.js"></script>

	<link type="text/css" href="/jquery/jqm-datebox.min.css" rel="stylesheet" /> 
	<link type="text/css" href="/jquery/jquery.mobile.simpledialog.min.css" rel="stylesheet" />

	<script type="text/javascript" src="/jquery/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/jquery/jqm-datebox.core.min.js"></script>
	<script type="text/javascript" src="/jquery/jqm-datebox.mode.calbox.min.js"></script>
	<script type="text/javascript" src="/jquery/jqm-datebox.mode.datebox.min.js"></script>
	<script type="text/javascript" src="/jquery/jquery.mobile.datebox.i18n.zh-CN.utf8.js"></script>
	<script type="text/javascript" src="/jquery/jquery.mobile.simpledialog.min.js"></script>

	<style>
		p { margin-right:20px; }
	</style>
	

</head> 

<body> 
	<div data-role="page" id="home">
	  <div data-role="header">
	    <h1>用地项目</h1>
			<a href="/map/add_ydb" data-role="button" class="ui-btn-right" data-icon="add" data-theme="b" id='save' rel="external" >增加</a>
	  </div>
	
		<fieldset class="container_12">
			<div class="grid_6" data-role="navbar" style="margin-top:8px" data-iconpos="left">
        <ul>
          <li><a href="#page1" data-transition="fade" data-theme="" data-icon="home">重置</a></li>
          <li><a href="#page1" data-transition="fade" data-theme="" data-icon="grid">高级</a></li>
          <li><a href="#page1" data-transition="fade" data-theme="" data-icon="search">查询</a></li>
        </ul>
	    </div>
			<div class="grid_6">
					<input type="search" name="yd_search" id="yd_search" placeholder="搜索用地" value="" />
			</div>	   
		</fieldset>
		<fieldset class="container_12">
			<ul data-role="listview" data-inset="true" id="ul_ydb" >
				<!--li data-role="list-divider">Contact Options</li>
				<li><a href="#"><img src="phone.png" class="ui-li-icon">Call</a></li--> 
				<% for ydb in @ydb %>
					<li>
						<a href="/map/show_ydb?id=<%= ydb.id %>">
							<img src="/tut/img/<%= ydb.yt %>.png" />
							<h3><%= ydb.jsxmmc %></h3>
							<p>土地面积: <%= ydb.zdmj %>平米</p>
							<p>受让方: <%= ydb.srf %></p>
						</a> 
					</li>
				<% end %>
			</ul>
		</fieldset>

		<fieldset class="container_12" data-role="footer">
	    <a href="#" data-role="button" data-icon="arrow-d" data-theme="b" id='more'>更多</a>
	 		<!--input type="button" value="保存" class="ui-btn-right" data-icon="check" -->
	  </fieldset>
		<fieldset class="container_12">
			<p align="center" style="font-size:12px; font-family:arial; color: silver;">Copyright&nbsp;2013 Brightechs</p>
		</fieldset>

	</div>

</body>
<script>

	$('#yd_search').blur(function(){
	    if (this.value == '') {
	        this.value = '搜索用地';
	    }
	});

	$("#home").bind('swipeleft',function(e){
		console.log("swipe left happed.");
		$('#pfwh').val('swipe left happed.');
	});
	
	$("#home").bind('swiperight',function(e){
		console.log("swipe right happed.");
		$('#pfwh').val('swipe right happed.');
	});
	
	$("#home").bind('swipeup',function(e){
		yd_search = $('#yd_search').val();
		pars = {search:yd_search, offset:$("#ul_ydb").length};
		$.ajax({
		  type: "POST",
		  url: "/map/more_ydb",
		  data: pars,
		  cache: false,
		  dataType: "text",
		  success: function(data){
				if (data.length > 0) {
					$("#ul_ydb").append(data);
					$("#ul_ydb").listview('refresh');
				}
	  	}
		});
	});
	
	$("#home").bind('swipedown',function(e){
		console.log("swipe down happed.");
		$('#pfwh').val('swipe down happed.');
	});
	
	$("#more").on('click', function(){
		yd_search = $('#yd_search').val();
		pars = {search:yd_search, offset:$("#ul_ydb").length};
		$.ajax({
		  type: "POST",
		  url: "/map/more_ydb",
		  data: pars,
		  cache: false,
		  dataType: "text",
		  success: function(data){
				if (data.length > 0) {
					$("#ul_ydb").append(data);
					$("#ul_ydb").listview('refresh');
				}
	  	}
		});
	});
	
	$("#home").bind('scrollstart', function(e){
	 // console.log("start");
	 //	$('#pfwh').val('scroll down start.');
	});
	
	$("#home").bind('scrollstop', function(e){
	 // console.log("end");
	//$ ('#pfwh').val('scroll down end.');
	});
	
</script>
</html>